@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}



/* ion-icon {
    color: white
} */


.front {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url('../public/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}






@tailwind base;
@tailwind components;
@tailwind utilities;